<ul class="nav navbar-nav">
	{% if current_user.is_authenticated %}
		<li {% if page=='tasks' -%}class="active"{% endif -%}><a href="{{ url_for('tasks.home') }}">Tasks</a></li>
	{%- endif %}
	{% if current_user.is_authenticated and current_user.has_roles(('Admin','Supervisor')) %}
		<li {% if page=='logs' -%}class="active"{% endif -%}><a href="{{ url_for('logs.home')  }}">Logs</a></li>
		<li  class="dropdown {% if page=='Admin' -%}active{% endif -%}">
			<a id='Drop_Admin' class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
			<ul class ="dropdown-menu" role="menu" aria-labelledby="Drop_Admin">
				<li><a href="{{ url_for('tasks.admin') }}">Tasks</a></li>
				{% if current_user.is_authenticated and current_user.has_role('Admin') %}
				<li><a href="{{ url_for('admin.home') }}">Users</a></li>
				<li><a href="{{ url_for('tasks.userequipment') }}">Users ⇄ Tasks</a></li>
				<li><a href="{{ url_for('admin.facilities') }}">Facilities</a></li>			
				{% endif %}
			</ul>
		</li>{% endif %}
	<!--<li><a href="#">About</a></li>-->
</ul>
