{% extends 'base.html' %}

{% block container %}
  <h1>Logs</h1>
  <ul class="nav nav-tabs">
    <li role="presentation" {% if name=='donetbl' %}class='active'{%endif%}>
        <a class="nav-link" href="{{ url_for('logs.done_tbl') }}">Done Table</a></li>
    <li role="presentation" {% if name=='floattbl' %}class='active'{%endif%}>
        <a class="nav-link" href="{{ url_for('logs.float_tbl') }}">Float Log Table</a></li>
    <li role="presentation"{% if name=='floatplot' %}class='active'{%endif%}>
        <a class="nav-link" href="{{ url_for('logs.float_plot') }}">Float Log Plot</a></li>
  </ul>

<hr>
<div class="table-responsive">
{{ LogTbl }}
</div>
<hr>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script>
$(document).ready(function() {
    $('#LogTable').DataTable({
      order: [[ 0, "desc" ]],
      "lengthMenu": [ 25, 250, 1000 ]
	});
});//DocumentReady
</script>
{% endblock %}
